body {
  min-height: 100lvh;
  display: grid;
  place-items: center;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1em;

  max-width: 45ch;

  p {
    line-height: 1.6em;
  }

  a {
    align-self: end;
  }
}
